/* Strife */
@font-face{
    font-family: 'strife';
    src: url('./strife.otf');
}

/* Dyslexic */
@font-face{
    font-family: 'opendys';
    src: url('./OpenDyslexic-Regular.otf');
}
body {
  margin: 0;
  font-family: "courier new",Courier,monospace;
	font-family: 'strife';
	font-family: 'opendys';
  font-size: 12px;
  background-color: #ddd;
  color: #000;
  z-index: 1;
}

.mspfa #main {
  margin: 0 auto;
  padding: 0 5px 5px;
}
#main {
  width: 800px;
  padding: 0;
  background-color: #eee;
  image-rendering: auto;
  position: relative;
}

/* For testing */
header .umcontainer {
/*   display: none; */
}

/* NAV */
nav {
  background-color: transparent;
  
  height: 116.4px;
  background-image: 
    url(./mspa_menu.gif),
    url(./logo.gif),
    url(./meimg.gif);
  
  background-repeat: no-repeat;
  background-position: left, center, right;
  
  position: relative;
}

nav .heart, nav .vbar { display: none; }
.dropdown { position: unset; }
.dropdown-content { display: none !important;; }

 nav a {
  font-size: 0;
}

nav a::before {
  color: black !important;
  position: absolute;
  cursor: pointer;
  background: #f000;
}

/* home */
nav a[href="homestuck.com"]::before {
  content: "";
  top: 10px;
  bottom: 10px;
  left: 210px;
  right: 210px;
}

/* explore */
nav a[href*="/search/"]::before {
  content: "";
  left: 145px;
  top: 20px;
  width: 45px;
  height: 50px;
  
  rotate: 26deg;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 60%, 50% 100%, 40% 100%, 40% 60%, 0 50%);
}

/* log */
nav a[href*="?p=log"]::before {
  content: "";
  left: 85px;
  top: 13px;
  width: 45px;
  height: 60px;
  rotate: -10deg;
  border-radius: 0 10px;
}

/* my */
nav a[href="https://pumpkintranslations.attiplayz.dev"]::before {
  content: "";
  right: 10px;
  width: 85px;
  top: 20px;
  height: 80px;
border-radius: 50%;
}

/* stories */
nav a[href="/map"]::before {
  content: "";
  left: 12px;
  top: 20px;
  width: 45px;
  height: 33px;
  rotate: -26deg;
}

/* more */
nav a[href="/more/"]::before {
  content: "";
  bottom: 20px;
  left: 160px;
  width: 40px;
  height: 30px;
  border-radius: 50%;
}

#notification {
  position: absolute;
  right: 12px;
  top: 80px;
  font-size: 10px;
  color: white !important;
}

/* Main Content */
.mspfa #container {
	font-weight: 700;
	font-size: 14px;
}

.mspfa #slide {
	display: table;
	width: 600px;
	max-width: 940px;
	margin: 7px auto 23px;
	padding: 0 25px;
	word-wrap: break-word;
	word-break: break-word;
	background-color: #eee;
}

.mspfa #command {
	text-align: center;
	font-size: xx-large;
	padding: 14px 0;
}

.mspfa #content {
	text-align: center;
	margin-bottom: 14px;
}

.mspfa #content > span > br:first-child {
	display: none;
}

.mspfa #content img {
	max-width: 940px;
}

.mspfa #content img.major, .mspfa #content video.major, .mspfa #content iframe.major, .mspfa #content canvas.major, .mspfa #content object.major, .mspfa #content ruffle-object.major {
	margin: 0 -25px;
}

.mspfa #slide .spoiler img, .mspfa #commentbox > .spoiler .spoiler img {
	max-width: 
    100%;
}
#slide {
  padding: 0;
  margin-top: 21px;
}

#command {
  background-color: white;
  margin: 0 auto;
  padding: 12px 25px;
}

#content {
  background-color: white;
  margin: 0 auto;
  padding: 0 25px;
  font-size: 12px;
  padding-bottom: 32px;
  
  background-image: 
    url(./pointer.gif),
    url(./blinkingcursor.gif);
  background-repeat: no-repeat;
  background-position: 25px 100%, 47px 100%;
}

/* Game links */

#links {
  margin-top: 12px;
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 10px;
}

#links::after {
  content: ">";
  font-weight: normal;
  color: red;
}

#foot > br {
  display: none;
}

#gamelinks a, #prevlinks a {
  color: #00f;
}

#savegame::before {
  content: "";
  position: absolute;
  background: #00f0;
  top: 72px;
  left: 20px;
  rotate: 30deg;
  height: 30px;
  width: 55px;
  border-radius: 20px 0;
}

#savegame::after {
  content: "";
  position: absolute;
  background: #00f0;
  top: 53px;
  left: 40px;
  rotate: -30deg;
  height: 15px;
  width: 40px;
  border-radius: 100% 0;
}

#loadgame::before {
  content: "";
  position: absolute;
  background: #00f0;
  top: 78px;
  left: 90px;
  rotate: -5deg;
  height: 30px;
  width: 65px;
  border-radius: 8px 10px 50% 50%;
}

/* latestpages */
#latestpages {
  max-width: unset !important;
  width: 3015px !important;
  border-left: solid black 1px;
}
#latestpages .spoiler {
  display: block;
  padding: 0;
}
#latestpages > span > .spoiler > div:last-child {
  margin: 4px;
  margin-bottom: 0;
  padding: 4px;
  padding-bottom: 0;
  background-color: #dddddd;
}
#latestpages > br {
  display: none;
}
#latestpages > div {
  background-color: #dddddd;
  text-align: left !important;
  margin: 4px;
  margin-top: 0px; 
  padding: 4px;
  padding-top: 0px; 
}
#latestpages > div::before {
  content: "Or ";
}
#latestpages > div a {
  font-size: 10px !important;
  text-transform: lowercase;
}


.mspfalogo {
  display: none;
}
footer iframe.um {
  display: block;
  margin: auto;
  float: unset;
  width: 800px;
}
header {
  display: flex;
  flex-wrap: wrap;
}
nav {
  width: 100%;
  order: -1;
}
header .umcontainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
  position: relative;
  margin-bottom: -32px;
  margin-top: -5px;
}
header .umcontainer iframe {
  position: absolute;
  top: 0;
  left: auto;
  right: auto;
  scale: 0.8;
  transform-origin: 50% 0;
}
#um3container {
  translate: -100px 100px
}

#details::before {
  content: url(./copyright.gif);
  display: block;
  margin: 0.5em auto;
  width: max-content;
}

.normal-font {
    .lang, #command {
        font-family: 'strife';
        font-weight: normal;
    }

    .lang, #content {
        font-family: 'strife';
        font-size:20px;
        font-weight: normal;
    }
}


.alt-font {
    .lang, #command {
        font-family: 'opendys';
        font-weight: normal;
    }

    .lang, #content {
        font-family: 'opendys';
        font-size:14px;
        font-weight: normal;
    }
}
