/* Strife */
@font-face{
    font-family: 'strife';
    src: url('https://file.garden/Zd-XnHbOwEeXrlKq/strife.ttf');
}

/* Dyslexic */
@font-face{
    font-family: 'opendys';
    src: url('https://file.garden/Zd-XnHbOwEeXrlKq/OpenDyslexic-Regular.otf');
}
body {
  margin: 0;
  font-family: courier new,Courier,monospace;
	font-family: 'strife';
	font-family: 'opendys'
  font-size: 12px;
  background-color: #ddd;
  color: #000;
  z-index: 1;
}

.mspfa #main {
  margin: 0 auto;
  padding: 0 5px 5px;
}
#main {
  width: 800px;
  padding: 0;
  background-color: #eee;
  image-rendering: auto;
  position: relative;
}

/* For testing */
header .umcontainer {
/*   display: none; */
}

/* NAV */
nav {
  background-color: transparent;
  
  height: 116.4px;
  background-image: 
    url(https://file.garden/Zd-XnHbOwEeXrlKq/mspa_menu.gif),
    url(https://file.garden/X1htvgJ0DEp_tp-Z/MSPFA%20other/PS%20Theme/logo.gif),
    url(https://file.garden/X1htvgJ0DEp_tp-Z/MSPFA%20other/PS%20Theme/meimg.gif);
  
  background-repeat: no-repeat;
  background-position: left, center, right;
  
  position: relative;
}

nav .heart, nav .vbar { display: none; }
.dropdown { position: unset; }
.dropdown-content { display: none !important;; }

 nav a {
  font-size: 0;
}

nav a::before {
  color: black !important;
  position: absolute;
  cursor: pointer;
  background: #f000;
}

/* home */
nav a[href="/"]::before {
  content: "";
  top: 10px;
  bottom: 10px;
  left: 210px;
  right: 210px;
}

/* explore */
nav a[href*="/search/"]::before {
  content: "";
  left: 145px;
  top: 20px;
  width: 45px;
  height: 50px;
  
  rotate: 26deg;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 60%, 50% 100%, 40% 100%, 40% 60%, 0 50%);
}

/* log */
nav a[href*="?p=log/"]::before {
  content: "";
  left: 85px;
  top: 13px;
  width: 45px;
  height: 60px;
  rotate: -10deg;
  border-radius: 0 10px;
}

/* Main Content */
.mspfa #container {
	font-weight: 700;
	font-size: 14px;
}

.mspfa #slide {
	display: table;
	width: 600px;
	max-width: 940px;
	margin: 7px auto 23px;
	padding: 0 25px;
	word-wrap: break-word;
	word-break: break-word;
	background-color: #eee;
}

.mspfa #command {
	text-align: center;
	font-size: xx-large;
	padding: 14px 0;
}

.mspfa #content {
	text-align: center;
	margin-bottom: 14px;
}

.mspfa #content > span > br:first-child {
	display: none;
}

.mspfa #content img {
	max-width: 940px;
}

.mspfa #content img.major, .mspfa #content video.major, .mspfa #content iframe.major, .mspfa #content canvas.major, .mspfa #content object.major, .mspfa #content ruffle-object.major {
	margin: 0 -25px;
}

.mspfa #slide .spoiler img, .mspfa #commentbox > .spoiler .spoiler img {
	max-width: 
    100%;
}
#slide {
  padding: 0;
  margin-top: 21px;
}

#command {
  background-color: white;
  margin: 0 auto;
  padding: 12px 25px;
}

#content {
  background-color: white;
  margin: 0 auto;
  padding: 0 25px;
  font-size: 12px;
  padding-bottom: 32px;
  
  background-image: 
    url(https://file.garden/X1htvgJ0DEp_tp-Z/MSPFA%20other/PS%20Theme/pointer.gif),
    url(https://file.garden/X1htvgJ0DEp_tp-Z/MSPFA%20other/PS%20Theme/blinkingcursor.gif);
  background-repeat: no-repeat;
  background-position: 25px 100%, 47px 100%;
}

/* Game links */

#links {
  margin-top: 12px;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
}

#links::after {
  content: ">";
  font-weight: normal;
  color: red;
}

#foot > br {
  display: none;
}

#gamelinks a, #prevlinks a {
  color: #00f;
}

#savegame::before {
  content: "";
  position: absolute;
  background: #00f0;
  top: 72px;
  left: 20px;
  rotate: 30deg;
  height: 30px;
  width: 55px;
  border-radius: 20px 0;
}

#savegame::after {
  content: "";
  position: absolute;
  background: #00f0;
  top: 53px;
  left: 40px;
  rotate: -30deg;
  height: 15px;
  width: 40px;
  border-radius: 100% 0;
}

#loadgame::before {
  content: "";
  position: absolute;
  background: #00f0;
  top: 78px;
  left: 90px;
  rotate: -5deg;
  height: 30px;
  width: 65px;
  border-radius: 8px 10px 50% 50%;
}

/* INFO */

#info {
  display: flex;
  border: solid black 1px;
}

#infobox > .spoiler { padding: 0; }
#infobox > .spoiler div:first-of-type { display: none; }
#infobox > .spoiler div:last-of-type {
  display: block;
}#infobox > .spoiler > div:last-of-type {
  margin: 0;
  padding: 0;
}
#infobox * {
  border-collapse: collapse;
}

/* Info */

#infobox {
  width: 70%;
}
#infobox, #infobox > div, #infobox > div > div {
  display: flex;
  align-items: stretch;
}
#infobox > .spoiler > div:last-child > table {
  height: 100%
}

#infobox tr:first-child td:nth-child(1) {
  width: 0 !important;
  position: relative;
}
#infobox tr:first-child td:nth-child(2) {
  width: 241px !important;
  box-sizing: border-box;
  position: relative;
  
  font-size: 9px;
  line-height: normal;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  padding: 4px;
  padding-left: 14px;
  padding-top: 58px;
}
#infobox button.rss {
  position: absolute;
  border: none !important;
  background-image: url(https://file.garden/X1htvgJ0DEp_tp-Z/MSPFA%20other/PS%20Theme/rssimg.gif);
  top: 4px;
  left: 4px;
  right: 4px;
  height: 46px;
  width: unset;
}
#infobox a[href*="/rss/"] button {
/*   display: none !important; */
}
#storyicon {
  display: none;
/*   position: absolute;
  z-index: 10;
  left: 16px;
  top: 65px;
  width: 36px;
  height: 36px; */
}
#infobox span.major {
  display: none;
/*   color: black;
  text-shadow: none;
  padding-left: 46px;
  margin-bottom: 1em; */
}
#infobox input {
  font-size: 9px;
  line-height: normal;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background: none;
  border: none;
  padding: 0;
}

#infobox tr:first-child td {
  height: 0px;
}

#infobox tr:last-child td:nth-child(1) {
  width: 0px !important;
  height: unset !important;
  box-sizing: border-box;
  font-size: 9px;
  line-height: normal;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  padding: 4px;
  padding-left: 15px;
  padding-right: 10px;
}
#infobox tr:last-child td:nth-child(1)::after {
  content: url(https://file.garden/X1htvgJ0DEp_tp-Z/MSPFA%20other/PS%20Theme/adventures.gif);
  margin: 1em -2px 1em -10px;
  display: block;
}
#infobox tr:first-child td:nth-child(2) button {
  display: inline-block;
  margin: 0 9px 0.5em 0;
}
#infobox .smol {
  vertical-align: bottom;
}

/* latestpages */
#latestpages {
  max-width: unset !important;
  width: 3015px !important;
  border-left: solid black 1px;
}
#latestpages .spoiler {
  display: block;
  padding: 0;
}
#latestpages > span > .spoiler > div:last-child {
  margin: 4px;
  margin-bottom: 0;
  padding: 4px;
  padding-bottom: 0;
  background-color: #dddddd;
}
#latestpages > br {
  display: none;
}
#latestpages > div {
  background-color: #dddddd;
  text-align: left !important;
  margin: 4px;
  margin-top: 0px; 
  padding: 4px;
  padding-top: 0px; 
}
#latestpages > div::before {
  content: "Or ";
}
#latestpages > div a {
  font-size: 10px !important;
  text-transform: lowercase;
}

/* Comment box */
#commentbox {
  flex-grow: 1;
  border-left: solid black 1px;
}
#commentbox {
  padding: 4px;
}
#commentbox::before {
  content: url(https://file.garden/X1htvgJ0DEp_tp-Z/MSPFA%20other/PS%20Theme/suggbox.gif)
}
#commentbox::after {
  content: url(https://file.garden/X1htvgJ0DEp_tp-Z/MSPFA%20other/PS%20Theme/suggboxpic.gif);
  margin-top: 1em;
  display: block;
}
#commentbox > div {
  background-color: #FBFBFB !important;
  width: 220px;
  margin: auto;
}

/* newcomment*/
#bbtoolbar {
  display: none;
}
#newcomment {
  color: #000000;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 0px;
  width: 155px;
  margin: auto;
}
#newcomment textarea {
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  color: #000000;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 9px;
  height: 5em;
}
#newcomment input, #commentbox .spoiler > div:first-child input, #commentbox select {
  background: #DDDDDD;
  border: 1px solid #C0C0C0;
  color: #000000;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 9px;
  font-weight: bold;
  text-shadow: none;
  padding: 0;
  width: 50%;
}
#newcomment input {
  margin-bottom: 1em;
}
#commentbox .spoiler {
  padding: 0;
  color: #000000;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 9px;
}
#commentbox .spoiler > div:last-child {
  margin: 0;
  padding: 0;
  text-align: center;
}
#commentbox .spoiler > div:last-child > br {
  display: none;
}

#commentbox table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
}
.comment {
  color: #000000;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 9px;
  text-align: left;
  border: solid #ddd 1px;
}
.comment:nth-child(odd) td {
  background-color: #FFFFFF;
}
.comment:nth-child(even) td {
  background-color: #FBFBFB;
}
.comment td {
  padding: 2px;
}
.comment td:first-of-type, 
.comment .page, 
.comment .timestamp, 
.comment br:first-of-type,
.comment .rate,
.comment .reply {
  display: none;
}
.comment .username {
  color: black;
}
.comment .username::after {
  content: ":";
}
.comment .gear {
  height: 1em
}

/* ADDS */

.mspfalogo {
  display: none;
}
footer iframe.um {
  display: block;
  margin: auto;
  float: unset;
  width: 800px;
}
header {
  display: flex;
  flex-wrap: wrap;
}
nav {
  width: 100%;
  order: -1;
}
header .umcontainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
  position: relative;
  margin-bottom: -32px;
  margin-top: -5px;
}
header .umcontainer iframe {
  position: absolute;
  top: 0;
  left: auto;
  right: auto;
  scale: 0.8;
  transform-origin: 50% 0;
}
#um3container {
  translate: -100px 100px
}

#details::before {
  content: url(https://file.garden/X1htvgJ0DEp_tp-Z/MSPFA%20other/PS%20Theme/copyright.gif);
  display: block;
  margin: 0.5em auto;
  width: max-content;
}

.normal-font {
    #command {
        font-family: 'strife';
        font-weight: normal;
    }

    .lang, #content {
        font-family: 'strife';
        font-size:20px;
        font-weight: normal;
    }
}


.alt-font {
    #command {
        font-family: 'opendys';
        font-weight: normal;
    }

    .lang, #content {
        font-family: 'opendys';
        font-size:14px;
        font-weight: normal;
    }
}
